language: java
jdk:
  - openjdk8

branches:
  only:
    - master

before_install:
  - chmod +x gradlew

# Travis CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

before_deploy:
  - zip -r AWSTEST *
  - mkdir -p deploy
  - mv AWSTEST.zip deploy/AWSTEST.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY # Travis repo settings에 설정된 값
    secret_access_key: $AWS_SECRET_KEY # Travis repo settings에 설정된 값
    bucket: my-deploy-bucket-kskcjswo # 6-3-3에서 생성한 S3 버킷
    key: AWSTEST.zip # 빌드 파일을 압축해서 전달
    bundle_type: zip
    application: AWSTEST # 웹 콘솔에서 등록한 CodeDeploy 어플리케이션
    deployment_group: AWSTEST-Group # 웹 콘솔에서 등록한 CodeDeploy 배포 그룹
    region: ap-northeast-2
    skip_cleanup: true
    acl: private
    local_dir: deploy
    wait-until-deployed: true
    on:
      repo: Sungkyu118/AWSTEST #Github 주소
      branch: master

# CI 실행 완료시 메일로 알람
notifications:
  email:
    recipients:
      - kskcjswo@naver.com
